.sidebar {
  background-color: white;
  opacity: 1;
  height: 100vh;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: -300px;
    z-index: 10;
}

.sidebar.open {
  left: 0;
}

.background {
  background-color: rgba(44, 46, 44, 0.4);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
  color: red;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
}

.close img {
}
